@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* -------------------- Primary set-up --------------------*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
    color: var(--grey500);
}


/* -------------------- Colors --------------------*/

:root {
    /*Primary color*/
    --white: #FFFFFF;
    --black: #000000;
    --grey500: #5E6E85;
    --grey300 : #ACC1DE;

    /*Secondary color*/
    --blue900: #253347;
    --blue500: #345FF6;
    --blue300: #B3D3F1;
    --blue100: #F0F8FF;

}


/* -------------------- Typography --------------------*/

h1 {
    font-size: 2.7rem;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2px;
    color: var(--blue900);
    margin-bottom: 1rem;
}

h2 {
    font-size: 2rem;
    font-weight: 500;
    line-height: 110%;
    letter-spacing: -2px;
    color: var(--blue900);
    margin-bottom: 1rem;
}

p {
    font-size: 0.8rem;
    line-height: 130%;
    color: var(--grey500);
}

.sur-title-medium {
    font-size: 0.9rem;
    font-weight: 800;
}

.sur-title-small {
    font-size: 0.8rem;
}

.sur-title-extra-small {
    font-size: 1rem;
}


/* -------------------- Body & Main --------------------*/

body {
    width: 100vw;
    min-height: 100vh;
    background-color: var(--white);
}

main {
    width: 60%;
    max-width: 1000px;
    margin: 0 auto;
}


/* -------------------- Body Mass Index Calculator --------------------*/

#bmic {
    height: 25rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
}

.bmi-block-1 {
    width: 75%;
    height: 100%;
    padding-right: 38%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: linear-gradient(to right, var(--white), var(--blue300));
    border-radius: 0 0 2rem 0;
    position: relative;
}

.intro-picto {
    width: 2.5rem;
    height: auto;
    position: absolute;
    top: 2rem;
    left: 0rem;
}

/* bloc2 */
.bmi-block-2 {
    width: 50%;
    max-width: 500px;
    height: 18rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--white);
    border-radius: 1rem;
    position: absolute;
    left: 50%;
    top: 20%;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
    padding: 1rem;
}

/* metric & imperial inputs */
.radio-inputs {
    margin: 0.75rem 0;
    display: flex;
    flex-direction: row;
}

.radio-inputs span {
    width: 50%;
}
.radio-choice {
    font-size: 0.75rem;
    font-weight: 600;
    color: var(--blue900);
}

/* height & weight inputs */
.form-inputs {
    display: flex;
    gap: 1rem;
}

.input-group {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-bottom: 0;
}

.input-group label {
    font-size: 0.75rem;
    font-weight: 400;
    color: var(--blue900);
}

.input-with-unit {
    position: relative;
    display: flex;
    align-items: center;
}

.input-with-unit input {
    width: 100%;
    padding: 0.75rem 3rem 0.75rem 0.75rem;
    border: 1px solid var(--blue300);
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.input-with-unit .unit {
    position: absolute;
    right: 0.75rem;
    color: var(--blue500);
    font-weight: 600;
    font-size: 0.9rem;
    pointer-events: none;
}

/* result box */
.bmi-result-box {
    background-color: var(--blue500);
    border-radius: 0 3rem 3rem 0;
    padding: 1rem;
    display: flex;
    flex-direction: row;
}

.bmi-result-box p,
.bmi-result-box strong {
    color: var(--white);
}

.bmi-result-box div {
    width: 50%;
}

.bmi-result {
    font-size: 2.3rem;
    font-weight: 500;
}


/* -------------------- What your BMI result means --------------------*/

/* first section */
#result-meaning {
    display: flex;
    flex-direction: row;
    margin-top: 2rem;
    position: relative;
}

.left-curve {
    width: 2rem;
    position: absolute;
    top: -2rem;
}

#result-meaning > div {
    width: 50%
}

#result-meaning .man-eating {
    width: 100%;
    height: auto;
}

#result-meaning div:nth-of-type(2) {
    padding-top: 5rem;
    padding-left: 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;

}

#result-meaning .left-curve {
    width: 3rem;
    height: auto;
    position: absolute;
    right: 1rem;
}

/* second section */
#result-factors {
    display: flex;
    flex-direction: row;
    margin: 6rem 0;
    padding: 2rem 0;
    background: linear-gradient(to right, var(--white), var(--blue100));
    border-radius: 0 2rem 2rem 0;
}

#result-factors img {
    width: 2.5rem;
    margin-bottom: 1.5rem;
}


/* -------------------- Limitations of BMI --------------------*/

.mb-1 {
    margin-bottom: 1rem;
}

.limit-title {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;

}

.limit-title p {
    font-size: 0.8rem;
    font-weight: 600;
    color: var(--blue900);
}

#box2, #box3, #box4, #box5, #box6 {
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.1);
}

#limitations {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(3, auto);
    gap: 1rem;
    margin-bottom: 4rem;
    position: relative;
}

.right-curve {
    width: 5rem;
    position: absolute;
    top: 10rem;
    left: 5rem;
    z-index: 1;
}

#box1 {
    grid-column: 1 / 7;
    grid-row: 1;
}

#box2 {
    grid-column: 8 / 12;
    grid-row: 1;
}
#box3 {
    grid-column: 5 / 9;
    grid-row: 2;
}
#box4 {
    grid-column: 9 / 13;
    grid-row: 2;
}
#box5 {
    grid-column: 3 / 7;
    grid-row: 3;
}
#box6 {
    grid-column: 7 / 11;
    grid-row: 3;
}


/* -------------------- Limitations of BMI --------------------*/

/* Desktop */
@media screen and (max-width: 1370px) {
    main {
        width: 80%;
        max-width: 1000px;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1030px) {
    h1 {
        font-size: 2.3rem;
    }
}


/* Tablet */
@media screen and (max-width: 850px) {
    main {
        width: 100%;
    }

    #bmic {
        height: 45rem;
        flex-direction: column;
    }

    .bmi-block-1 {
        width: 100%;
        height: 100%;
        padding: 1rem 2rem;
        align-items: center;
        justify-content: start;
    }

    .intro-picto {
        margin-top: 1rem;
        margin-bottom: 2rem;;
        position: static;
    }

    h1 {
        width: 50%;
        text-align: center;
    }

    .bmi-block-1 p {
        text-align: center;
        height: 15rem;
        padding: 0 2rem;
    }

    .bmi-block-2 {
        width: 80%;
        position: relative;
        left: 0%;
        top: -15%;
    }

    #result-meaning {
        margin-top: 0;
    }

    .left-curve {
        display: none;
    }

    #result-meaning div:nth-of-type(2) {
        padding: 2rem 2rem;

    }

    h2 {
        font-size: 1.6rem;
    }

    #result-factors {
        padding: 1.5rem;
        flex-direction: column;
        gap: 1rem;
        margin: 4rem 0;
    }

    .description-factor {
        display: flex;
        flex-direction: row;
    }

    .description-factor img {
        margin-right: 1.5rem;
    }

    #limitations {
        width: 90%;
        margin: 0 auto;
    }

    .right-curve {
        display: none;
    }

    #box1 {
        grid-column: 1 / 13;
        grid-row: 1;
        margin-bottom: 2rem;
    }

    #box1 h2,
    #box1 p {
        text-align: center;
    }

    #box2 {
        grid-column: 1 / 7;
        grid-row: 2;
    }
    #box3 {
        grid-column: 7 / 13;
        grid-row: 2;
    }
    #box4 {
        grid-column: 1 / 7;
        grid-row: 3;
    }
    #box5 {
        grid-column: 7 / 13;
        grid-row: 3;
    }
    #box6 {
        grid-column: 4 / 10;
        grid-row: 4;
        margin-bottom: 2rem;
    }
}

/* Mobile */
@media screen and (max-width: 480px) {
    #bmic {
        height: 60rem;
    }

    .bmi-block-1 {
        flex: 1;
    }

    .intro-picto {
        margin-top: 0.75rem;
        margin-bottom: 1rem;;
        position: static;
    }

    h1 {
        font-size: 1.8rem;
        width: 70%;
        text-align: center;
    }

    .bmi-block-2 {
        height: 28rem;
        top: -15%;
    }

    .form-inputs {
        flex-direction: column;
    }

    .bmi-result-box {
        flex-direction: column;
        border-radius: 0.5rem;
    }

    .bmi-result-box div {
        width: 100%;
    }

    #result-meaning {
        flex-direction: column;
        margin-top: -5rem;
    }

    #result-meaning > div {
        width: 100%;
    }

    #result-factors {
        margin: 2rem 0 3rem 0;
    }

    .description-factor {
        flex-direction: column;
    }

    #box2 {
        grid-column: 1 / 13;
        grid-row: 2;
    }
    #box3 {
        grid-column: 1 / 13;
        grid-row: 3;
    }
    #box4 {
        grid-column: 1 / 13;
        grid-row: 4;
    }
    #box5 {
        grid-column: 1 / 13;
        grid-row: 5;
    }
    #box6 {
        grid-column: 1 / 13;
        grid-row: 6;
        margin-bottom: 2rem;
    }
}

@media screen and (max-width: 300px) {
    #bmic {
        height: 64rem;
    }


}
